.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #c5baff;
  cursor: pointer;
  color: #ffffffde;
  transition: background-color 0.25s;
}

.button:hover {
  background-color: #b57edcab;
  color: #ffffffde;
}

.button:active,
.button:focus {
  background-color: #b57edc7e;
  color: #ffffffde;
}

.button--lost {
  background-color: #ff4b4b;
  color: #ffffffde;
}
.button--lost:hover {
  background-color: #ff4b4bab;
  color: #ffffffde;
}

.button--lost:active,
.button--lost:focus {
  background-color: #ff4b4b7e;
  color: #ffffffde;
}

.button--submit {
  margin-top: 20px;
  width: 100%;
}

.button--post-actions {
  background-color: inherit;
}

.button--flat {
  position: relative;
  border: none;
  border-radius: 0;
  background-color: inherit;
  color: #979797;
  transition: color 0.15s, background-color 0.15s;
}

.button--flat:hover,
.button--flat:active {
  background-color: #eaeaea;
  color: #4a4a4a;
}
