.error-message {
  color: red;
  font-weight: bold;
}

.login-header {
  text-align: center;
}

.login-header span {
  color: #ffb07c;
  font-size: 32px;
  font-weight: bold;
}

.email-input,
.password-input {
  input {
    padding: 15px 0;
    border-radius: 0;
    border-bottom: 1px solid #c5baff;
  }
  input:focus {
    outline: none;
    border-bottom: 3px solid #c5baff;
  }
}

.password-input {
  margin-top: 10px;
}

.remember-forgot {
  display: flex;
  width: 100%;
  margin: 20px 0;
}

.remember-me {
  width: fit-content;
  place-content: left center;
  margin: 0;
  margin-right: auto;
  color: #213547;
  font-weight: normal;

  input {
    margin-left: 4px;
    margin-right: 10px;
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);
  }
}

.password-reset {
  text-align: right;
}

.optional-logins {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #5a5a5a;
  line-height: 0.1rem;
  margin: 10px 0 10px;
  color: #213547;
}

.optional-logins span {
  font-size: small;
  padding: 0 20px;
  background-color: white;
}

@media (min-width: 768px) {
  .auth-form {
    width: 20rem;
  }
}
