/* .new-post--container {
  border-right: 1px solid #5a5a5a;
} */

.new-post--form {
  padding: 10px;
}

/* .post-preview--container {
  width: 50%;
} */

.post-preview {
  word-wrap: break-word;
  min-width: 650px;
}

input,
textarea {
  width: 100%;
}

.submit-buttons {
  display: flex;
  margin-top: 10px;
  place-content: center space-evenly;

  button {
    width: 150px;
  }
}
