:root {
  background-color: #242424;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
}

.new-post--container {
  width: 50%;
  border-right: 1px solid #5a5a5a;
}

.new-post--form {
  align-items: center;
  padding: 10px;
  gap: 10px;
  max-width: 600px;
  margin: auto;
}

.post-preview--container {
  align-items: center;
  width: 650px;
  height: auto;
  margin: auto;
  word-wrap: break-word;
}

/* .post-preview {

} */

input,
textarea {
  width: 100%;
}
