.container {
  display: flex;
}

.new-post--form {
  border-right: 1px solid #5a5a5a;
  padding: 10px;
  display: inline-block;
  gap: 10px;
  left: 0;
  width: 50%;
}

.post-preview--container {
  display: inline-block;
  margin: auto;
  height: auto;
  padding: 10px;
  position: relative;
}

/* .post-preview {

} */

input,
textarea {
  width: 100%;
}
